<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Altudo" dependencies="Foundation.Serialization" description="All project level configs like, page templates, layouts, base page templates etc., are serialized here">
          <targetDataStore physicalRootPath="D:\Gopi\Trn\Altudo\SCode\Altudo-1\src\$(layer)\$(module)\serialization" />
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/Project/VisitUs" />
            <include name="Workflow" database="master" path="/sitecore/system/Workflows/VisitUs Workflow" />
            <include name="Languages" database="master" path="/sitecore/system/Languages" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
