
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Website</title>
</head>
<body>
    <div> 
        @Html.Sitecore().Placeholder("altudo-main")
    </div>
</body>
</html>
