<div>
    <h1>@Html.Sitecore().Field("TraineeName")</h1>&nbsp;&nbsp;&nbsp;
    <i>@Html.Sitecore().Field("TraineeDesignation")</i>
</div>
<div>
    <p>@Html.Sitecore().Field("TraineeNumber")</p>
</div>
<div>
    @Html.Sitecore().Field("TraineeImage")
</div>

